* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Mooligat";
  src: url("./Mooligat\ Demo.otf");
}
@font-face {
  font-family: "Lostar";
  src: url("./Lostar.ttf");
}

h2 {
    font-family: "Lostar";
    font-weight: 200;
    margin-bottom: 2vh;
}

body {
  background-color: #f1ebe9;
  padding-bottom: 6vh;

  main {
    
    div{
        display: flex;
        justify-content: center;
        gap:6px;
        color: red;
    }

    #sobreMi {
      max-width: 900px;
      margin: 4vh auto;
      p {
        margin: 2vh 0;
      }
      #p2{
        margin-left:-7%;
        margin-right: 7%;
      } 
    }

    #Skills {
        max-width: 900px;
        margin: 4vh auto;

        p {
            margin-bottom: 4vh;
        }

        div {
            display: flex;
            
            div {
            display: flex;
            flex-direction: column;
            margin-right: 16px;
        }
        }
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30vh 0;
  gap: 10px;

  button {
    /* background-color: #930001; */
    background: linear-gradient(#9d0722);
    color: #ffffff;
    padding: 7px 18px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
  }

  h1 {
    /* My web */
    font-size: 100px;
    font-family: "Mooligat";
    font-weight: 100;
    color: #722f37;
    font-size: 4ic;
  }

  h2 {
    color: #b54f42;
    font-size: 2ic;
  }

  span {
    color: #58171f;
    font-size: 20cmS;
    gap: 5px;
  }
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  top: 1%;
  gap: 10px;

  a {
    color: #722f37;
    background: linear-gradient(#ffffff);
    text-decoration: none;
    border: 1px solid #722f37;
    border-radius: 7px;
    text-align: center;
    padding: 3px;
  }
}
